body {
    background-color:#9EA3A8;
    color:#black;
    text-align:center;
    margin-left:10px;
}
h1, h2, h3 {
    background-color:black;
    color:white;
    text-align:left;
    text-transform:uppercase;
    width:100%;
    margin:0;

}

/*p img {*/
/*    border-color:black;*/
/*    border-width:4px;*/
/*    border-style:solid;*/
/*    width:90%;*/
/*}*/
.about {
    background-color:#9EA3A8;
}
* {
    font-family: 'Oswald', sans-serif;
}
.yeezy {
    background-color:#CC6E0A;
}
.warning {
    background-color:red;
}
.collection {
    background-color:#D43408;
}
.navbar ul {
    text-decoration:none;

    position:relative;
    /*left:8px;*/
    /*right:8px;*/
    /*top:40px;*/
    width:100%;
    
    background-color:black;
    
    list-style-type:none;
}
.navbar li a {
    text-align:center;
    color:white;
    font-family:'PT Sans Narrow', sans-serif;
    font-size:16px;
    width:10%;
    float:left;
    margin-right:4px;
    
    padding-left:4px;
    padding-right:4px;
    background-color:black;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    margin: 0px 4px 0px 0px;
    padding: 0px 4px 0px 4px;
}
.navbar li a:hover {
    background:white;
}
.navbar li a.selected {
    background:#aec5a5;
}
.landingimg {
}

.galleryimg
}